*{
  font-family: 'Raleway', sans-serif;
}

a {
  color: #4f4f4f;
  text-decoration-color: #EE6123;
}

a:hover {
  font-weight: 800;
}

#container {
  position: relative;
}

#container canvas, #overlay {
  position: absolute;
}

#overlay {
  background-color:rgba(255,255,255,0.5); 
  width: 75%;
  height: 90vh;
  overflow-y: auto;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: auto;
  padding-right: auto;
}

#profile-pic img {
  border-radius: 20%;
  height: 200px; 
  width: 200px; 
  border: solid 10px #fff;
  box-shadow: 1px 1px 10px #EE6123 /*rgb(75, 75, 75);*/
}

#profile-pic {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.main-pane {
  display: grid;
  grid-template-columns: 6fr 1fr 13fr;
  gap: 1em;
  margin-left: 5%;
  margin-right: 5%;
}

#overlay::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(167, 167, 167, 0.03);
	border-radius: 5px;
	background-color: #F5F5F5;
}

#overlay::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#overlay::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(214, 214, 214, 0.3);
	background-color: rgb(196, 196, 196);
  background-image: -webkit-linear-gradient(top,
											  #e4e4e4 0%,
											  #9d9c9c 50%,
											  #9d9c9c 51%,
											  #e4e4e4 100%);
}

.left-pane {
  border-right: solid 2px #000;
  border-image: 
    radial-gradient(
      /* to bottom,  */
      rgb(150,150,150), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.left-pane-content {
  padding-top: 20px;
  padding-left: 20%;
}

.right-pane {
  grid-column-start: 3;
  padding: 1em;
  /* border: solid 2px #000; */
}

.print-btn {
  text-align: right;
}

.print-btn a {
  text-decoration: none;
  padding: 5px;
  border: solid 1px #EE6123;
  border-radius: 5px;
}

#position-top {
  color: #EE6123;
}

#desc-top {
  text-align: justify;
}

.record {
  list-style: none;
  display: flex;
  padding: 8px;
}

.record i {
  padding-right: 10px;
  color: #EE6123;
}

.record .rec-label {
  font-weight: 800;
  margin-left: 2px;
  margin-right: 10px;
}

.sub-header {
  margin-top: 30px;
  color: #EE6123;
  /* color: #DD6031; */
}

.edu-info ul, .exp-info ul {
  padding-left: 10px;
}

.edu-info li, .exp-info li{
  list-style: none;
  padding-bottom: 10px;
  padding-top: 5px;  
}

.edu-info .rec-inst, .exp-info .rec-inst {
  font-weight: 600;
  border-left: solid 6px #EE6123;
  padding-left: 5px;
  border-radius: 5px;
}

.edu-info .rec-ach, .rec-res {
  padding-left: 15px;
  padding-top: 4px;
  text-align: justify;
}

.edu-info .rec-per, .exp-info .rec-per {
  padding-left: 30px;
  font-style: italic;
}

.exp-info .rec-techs {
  padding-left: 30px;
}

.exp-info .rec-pos {
  padding-left: 15px;
  color: #EE6123;
}

.langs-info ul, .tech-info ul, .prog-info ul{
  list-style: none;
  padding-left: 10px;
}

.langs-info ul li, .tech-info ul li{
  display: flex;
  padding-top: 5px;
  width: 75%;  
}

.langs-info ul li i, .tech-info ul li i{
  font-size: 8pt;
  margin-right: 10px;
  margin-top: 4px;
  color: #7f7f7f;
}

.langs-info ul li .rec-level {
  margin-top: 1px;
  font-size: smaller;
  margin-left: auto;
  text-align: right;
  color: #EE6123;
}

.prog-info .p-bar{
  margin: 5px;
  height: 10px;
  width: 150px;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.prog-info .progress{
  height: 10px;
  background-color: #ed9a76;
  border-radius: 5px;
}

@media print {
  @page { margin: 0; }
  body { margin: 0cm; }

  *{
      font-family: 'Times New Roman', Times, serif;
      font-size: 11pt;
  }

  #gol {
      display: none;
  }

  .right-pane h3 {
    margin-top: -10px; 
    margin-bottom: -15px;
  } 

  .rec-res {
    display: none;
  }

  #web-pic {
    display: none;
  }

  #print-pic {
    display: block !important;
  }

  #profile-pic img {
    border-width: 0px;
    height: 200px !important; 
    width: 150px !important;
    box-shadow: none;
    border-radius: 5%;
  }  

  #overlay {
    width: 100%;
    margin-left: 0%;
  }

  .main-pane {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1em;
  }

  .print-btn {
    display: none;
  }

  #desc-top {
    margin-bottom: -10px;
    /*font-size: smaller;*/
  }

  .left-pane {
    border-right: solid 2px #aaa !important;
  }

  .left-pane-content {
    padding-top: 20px;
  }

  .left-pane-content i {
    display: none;
  }

  .langs-info ul, .tech-info ul, .prog-info ul {
    list-style: disc;
  }

  .record {
    list-style: none;
    display: flex;
    padding: 2px;
  }
  .prog-list .p_bar {
    display: none;
  }

  .langs-info ul li, .tech-info ul li{
    display: list-item;
    padding-top: 5px;
    width: 100%;  
  }

  .langs-info ul li .rec-level {
    margin-top: 1px;
    font-size: smaller;
    margin-left: auto;
    text-align: left;
    color: #7d7d7d;
  }

  .edu-info li, .exp-info li{
    list-style: none;
    padding-bottom: 2px;
  }

  .rec-techs {
    font-size: smaller;
  }
}
